---
layout: default
title: About | Surf Connect Co.
banner-heading: About
---
<section class="grid">
    <div class="col-7 md-12_sm-12">
      <h3 class="left">We’re a <span>socially-conscious</span> surf collective <span>connecting</span> travellers with <span>local</span> surf coaches in Bali. We offer private lessons you can book on the fly. Hit us up and <span>connect</span>.</h3>
    </div>
  </div>
  <div class="col-6 md-12_sm-12">
    <img src="/images/about-image.jpg">
  </div>
  <div class="col-6 md-12_sm-12">
    <p>Did you know the average surf coach in Bali earns $8 AUD for a two-hour surf lesson?<p>

    <p>That's on average, $40 a week, $160 a month, $1,920 a year.</p>

    <p>While the living conditions in Bali are cheap, they're not that cheap.</p>

    <p>An average meal from a Warung costs about $2. That's $6 left for two more meals, water, electricity and petrol.<p>

    <p>Surf coaches in Bali struggle to make ends meet. They’re forced to work multiple jobs, long hours, or give up surf coaching all together. Surf coaching is just not sustainable.</p>

    <p>We love surfing in Bali but felt bad enjoying a cheap surf lesson knowing our surf coach might not be able to afford their next meal. Kind of ruins the experience, don’t you agree?</p>

    <p>Skilled surf coaches should be able to make a decent living.</p>

    <p>So we decided to create a surf collective that pays surf coaches a fair wage, while making it easy and affordable for travellers to learn how to surf.</p>

    <p>When you book a surfing lesson with Surf Connect Co. you’re making your surf coach’s life a little easier. Our sessions are affordable for Aussies, while still being fair to the surf pros.</p>

    <p>Let's connect and surf ethically.</p>

    <p>Founded by Australian girl Hannah Lawrance in November 2018.</p>

  </div>
  <div class="col-12">
    {% include mailchimp.html %}
  </div>

    {% include inquiry-form.html %}
  </section>