---
layout: default
title: About | Surf Connect Co.
banner-heading: About
---
<section class="grid">
    <div class="col-7 md-12_sm-12">
      <h3 class="left">We’re a <span>socially-conscious</span> surf collective <span>connecting</span> travellers with <span>local</span> surf coaches in Bali. We offer private lessons you can book on the fly. Hit us up and <span>connect</span>.</h3>
    </div>
  </div>
  <div class="col-6 md-12_sm-12">
    <img src="/images/about-image.jpg">
  </div>
  <div class="col-6 md-12_sm-12">
    <p>Hannah Lawrance is a young business owner, social media strategist, budding photographer and free spirit based between Bali and Australia.<p>

    <!-- <p>Not only business savvy but socially-conscious, when she’s not working she’s spending her spare time helping the not-for-profit Borderless Friendship WA Inc. raise funds for health education in Thailand.</p> -->

    <p>Being an Aussie girl, Hannah grew up on the beach spending summer at Rottnest Island and forever dragging sand into the house. To get her mind off of her hectic work schedule, she decided to learn how to surf.</p>

    <p>Hannah loved the feeling of accomplishment she felt when she caught her first wave, and how every worry seemed to disappear while she bobbed up and down in the water.</p>

    <p>Hannah’s love for surfing took her to one of her favourite places -- Bali. It was here she met local surf coaches who told her how they would stroll up and down the beach trying to offer freelance surf lessons, but most of the time were unsuccessful in getting customers. Not only that, but how financialy unstable the industry is.<p>

    <p>This got her thinking… how could she create an online database where she could connect local surf instructors with tourists wanting to learn to surf.</p>

    <p>Surf Connect Co. was born.</p>

    <p>A collective combining all of Hannah’s loves – the beach, surfing, social enterprise and human connection.</p>

    <p>Get connected.</p>
  </div>
  <div class="col-12">
    {% include mailchimp.html %}
  </div>

    {% include inquiry-form.html %}
  </section>
