---
layout: default
title: Blog Page | Surf Connect Co.
banner-heading: Blog Page
---

<section>
  <div class="grid">
    <h1 class="col-12"> Recent posts </h1>
    <div class="col-10 grid">

  {% for post in site.posts limit:3  %}
  <!--starting loop for posts -->
  <!-- keepm loop inside main div to keep the column pattern reoccuring -->

    <div class="col-7">
      <div class= "blog-loop-picture" style="background-image:url({{post.featured_image}})">
      </div>
    </div>
    <div class="col-5">

    <div class="post-preview col-12 padding-10">
        <p class="date"> {{post.date | date_to_string}} </p>
        <h3> {{post.title}} </h3>
        <p> {{post.description}} </p>
        <a href="{{post.url}}" class="button blog-button"> Read More </a>
    </div>
  </div>
  {% endfor %} <!--close with this-->
  </div>

  <div class="sidebar col-2">
      {% include inquiry-form.html %}
  </div>

</section>

{% include mailchimp.html %}
