---
layout: default
title: Contact | Surf Connect Co.
banner-heading: Contact
---

<section class="grid">
  <div class="col-7 contact-photo"> <!--padding needs to be changed to the opposite box to fit in the image because the image is a background image-->


  </div>

  <div class="col-5 padding-lr-3 padding-bot-5">
    <h1 class="left padding-tb-10">Wave hello</h1>
    <p> <span>Whatsapp:</span> +61420393335</p>
    <p><span>Email:</span> hello@surfconnectco.com</p>
  </div>
</section>
{% include inquiry-form.html %}
{% include mailchimp.html %}
