---
layout: default
title: Surf Connect Co.
banner-heading:
---


<section class="grid padding-3">

  <div class="main-body col-9">
    <h1> {{page.title}}</h1>
    <h4 class="post-info"> {{page.date | date_to_string }} by {{page.author}}</h4>
    <hr>

    {{content}}

  </div>

  <div class="side-bar col-3">
  {% include inquiry-form.html %}

  </div>

  <!-- <div class="col-12_xs-6 change-color">
    <p>
      <a href="/index"> previous </a> |
      <a href="/booking"> back to blogs </a> |
      <a href="/blog"> next </a>
    </p>
  </div> -->

  <div class="col-12 PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

</section>
